.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.logo img {
  height: 30px;
  margin-left: 220px;
}

.navigation a {
  margin: 0 1rem;
  text-decoration: b;
  color: #333;
  font-weight: 500;
}

.user-actions a {
  margin-left: 1rem;
  text-decoration: none;
  color: #0077c2;
  font-weight: 500;
}

/* Mobile adjustments for Header */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 1rem;
  }

  .logo img {
    margin-left: 0; /* Remove left margin on mobile */
    margin-bottom: 1rem; /* Add some space below logo */
  }

  .navigation,
  .user-actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .navigation a,
  .user-actions a {
    margin: 0.5rem 0.8rem; /* Adjust spacing for mobile links */
  }
}

